body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/thumb-1920-234939.jpg);
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center center;
    font-size: 25px;
    text-align: justify;
}

h1{
    font-size: 50px;
    position: relative;
    left: 600px;
    width: 230px;
    border-radius: 15px;
    background-color: violet;
}

#contenedor{
    border-radius: 15px;
    margin: 30px;
    padding: 10px;
    background-color: orange;
}

#contenedor img{
    width: 500px;
    height: auto;
    position: relative;
    left: 400px;
}

#contenedor p a:hover{
    text-decoration: none;
    font-weight: bold;
    
}